/*******************
 **** stylesheet ***
 *******************/


/*
 * grigio scuro: #404040
 */

* {
    background-color: white;
    border: white;
}

QListView {
    border: red;
}

QLabel#section {
    color: rgba(40, 40, 40);
    font-weight:600;
    font-size: 10pt;
}

QFrame#line {
    background-color: rgba(40, 40, 40, 0.4);
}

QPushButton {
    text-align: left;
    padding: 6px;
}


QPushButton:pressed {
    background-color: rgba(60,60,60, 0.4);
}

QBarSet#Youtube {
   color: rgba(255, 51, 0);
}

QBarSet#Facebook {
   color: rgba(255, 51, 0);
}

QBarSet#Instagram {
   color: rgba(255, 51, 0);
}
