/*******************
 **** stylesheet ***
 *******************/


/*
 * grigio scuro: #404040
 */

* {
    background-color: white;
    border: white;
}

LandingWindow {
    min-width: 800px;
    max-width: 800px;

    min-height: 600px;
    max-height: 600px;
}

GraphsWindow {
    width: 1000px;
    min-width: 1000px;

    height: 700px;
    min-height: 700px;
}

QToolButton{
    width: 275px;
    max-width: 275px;

    height: 50px;
    max-height: 50px;

    font-size: 10pt;
}

QLineEdit {
    width: 275;
    max-width: 275;
}

QListView {
    border: red;
}

QLabel#section {
    color: rgba(40, 40, 40);
    font-weight:600;
    font-size: 10pt;
}

QFrame#hLine {
    height: 1px;
    max-height: 1px;
    width: 281px;
    max-width: 1px;
}

QFrame#vLine {
    width: 1px;
    max-width: 1px;
}

QFrame#line {
    background-color: rgba(40, 40, 40, 0.4);
}

QPushButton {
    text-align: left;
    padding: 6px;
}


QPushButton:pressed {
    background-color: rgba(60,60,60, 0.4);
}

QBarSet#Youtube {
   color: rgba(255, 51, 0);
}

QBarSet#Facebook {
   color: rgba(255, 51, 0);
}

QBarSet#Instagram {
   color: rgba(255, 51, 0);
}
